@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #14110f;
}
a.active {
  background-color: #34312d !important;
}
<<<<<<< HEAD

span.swiper-pagination-bullet{
   background-color: white;
}

span.swiper-pagination-bullet-active{
  background-color: #636AE8;
}

.swiper-pagination {
  display: flex ;
  justify-content: start;
}

.react-stars svg {
  fill: url(#grad);
  color: yellow;
}

=======
>>>>>>> bc5477b942f0e4e7ed391f9f67bae680dbc1ac70
